[color]
  ui = true
[core]
  editor = vim
  excludesfile = ~/.gitignore-global
[user]
  name  = YOUR_NAME_HERE
  email = YOUR_EMAIL_HERE
[merge]
  ff = false
[pull]
  rebase = true
[push]
  default = nothing
[rebase]
  stat = true
[rerere]
  enabled = true
